body{
    background-color: black;
    color: white;
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.banner{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: libre baskerville,serif;
    
}
.motivation-img{
   border: 5px solid white; 
   width: 100%;
}